body{
    background-image: url("../IMAGENS/fundo.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

h1{
    text-align: center;
    border: solid black;
    border-radius: 30px;
    display: block;
    margin: auto;
    width: 700px;
}

video{
    display: block;
    margin: auto;
    height: 432px;
    width: 768px;
    border:10px double;
}