body{
    background: linear-gradient(cyan,darkblue);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#central{
    width: 300px;
    background: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}